<div id="main-content" class="container-fluid">





    <div class="row">
        <div class="col-xs-12 col-sm-5">

            <h1>Sign in to My Verizon</h1>








            <form method="post" autocomplete="off" action="https://login.verizonwireless.com:443/amserver/UI/Login" name="loginForm" id="login-form" target="_top">
                <input type="hidden" name="_csrf" value="96SC-ALD6-7N3T-4VJE-KTVE-TJ66-7D7K-XIDL">

                <input type="hidden" name="realm" value="vzw">
                <input type="hidden" name="remainInOverlay" value="">
                <input type="hidden" name="goto" value="">
                <input type="hidden" name="gotoOnFail" value="">

                <div class="form-group">

                    <p>Business Accounts sign in to <a href="https://sso.verizonenterprise.com/amserver/sso/login.go" target="_top">My Business</a></p>





                    <label for="IDToken1">Mobile Number or User ID</label>



                    <input type="text" class="form-control" autocomplete="off" id="IDToken1" name="IDToken1" value="9171231234" placeholder="Mobile Number or User ID">
                </div>
                <div class="form-group">



                    <label for="IDToken2">Password</label>
                    <input type="password" class="form-control" autocomplete="off" id="IDToken2" name="IDToken2" value="qweqewqqwewq" placeholder="Password">
                    <input type="hidden" name="userNameOnly" id="userNameOnly" value="false">



                </div>


                <div class="checkbox row">
                    <div class="col-xs-7 xs-pr-0">

                        <label class="checkbox-inline">
                                <input type="checkbox" id="rememberUserName" name="rememberUserName" value="Y">
                                <span>Remember me</span>
                            </label>








                        <a id="sharedComputerTooltip" class="info-circle" aria-label="Remember me. More information tooltip" aria-describedby="tooltipContent" data-toggle="tooltip" data-placement="bottom" title="" tabindex="0" data-original-title="Remember me stores your User ID on this computer.  You should not use these features on public computers."
                            target="_top"></a>

                    </div>
                    <div class="col-xs-5 xs-pl-0">
                        <p class="text-right">



                            <a id="forgotPasswordLink" href="https://login.verizonwireless.com/accessmanager/public/c/fp/start" target="_top">Forgot your Info?</a>


                        </p>
                    </div>
                </div>





                <div class="form-group">
                    <button id="login-submit" routerLink="/myaccount" class="btn btn-default btn-lg" type="submit">Sign in</button>
                    <input type="hidden" name="rememberUserNameCheckBoxExists" value="Y">
                    <input type="hidden" name="customerType" value="DO">
                    <input type="hidden" name="clientId" value="">
                    <input type="hidden" name="fromVZT" value="">
                </div>

                <p id="registerProfile">
                    Don't have an account? <a href="https://login.verizonwireless.com/accessmanager/public/c/reg/start" target="_top">Register</a>
                </p>

            </form>
        </div>

    </div>
</div>
<!-- <img class="responsive" src="{{img}}" alt=""> -->